{% extends 'layouts/dashboard.njk' %}

{% block body %}
  <section id="main">
    <div class="container">
      <header>
        <h2>Meus projetos ({{projects.length}})</h2>
        <div class="addon">
          <form action="/app/projects" method="post">
            <input type="text" name="title" placeholder="Novo projeto">
            <button type="submit" class="btn">
              <img src="/img/plus.svg">
            </button>
          </form>
        </div>
      </header>

      <section id="content">
        <div class="project-list">
          {% for project in projects %}
            <a href="/app/projects/{{project.id}}">{{project.title}} - ({% if project.Sections.length %} {{project.Sections.length}} {% else %} 0 {% endif %})</a>
          {% endfor %}
        </div>
      </section>
    </div>
  </section>
{% endblock %}