{% extends 'layouts/default.njk' %}

{% block body %}
<div class="auth-wrapper">
  <h1>Criar Conta</h1>
  <form method="POST" action="/register" class="form-signin">
    <input name="name" type="text" placeholder="Digite seu nome">
    <input name="email" type="email" placeholder="Digite seu e-mail">
    <input name="password" type="password" placeholder="Digite sua senha">
    <button type="submit">Cadastrar</button>
    <a href="/">Já tenho uma conta, quero logar</a>
  </form>
</div>
{%endblock%}