<header id="header">
  <div class="container">
    <h1><a href="/">Docfy</a></h1>
    <div class="user-info">
      <p class="welcome">
        Bem vindo<br>
        <strong>{{user.name}}</strong>
      </p>
      <a href="/signout" class="btn btn-danger">
        <img src="/img/signout.svg">
      </a>
    </div>
  </div>
</header>