{% extends 'layouts/dashboard.njk' %}
{% block body %}
<section id="main">
  <div class="container">
    {% include 'partials/headProject.njk' %}
    <section id="content">
      {% include 'partials/nav.njk' %}

      <article>
        <div class="project-header">
          <h1>Selecione ou crie uma seção para seu projeto</h1>
        </div>
      </article>
    </section>
  </div>
</section>
{% endblock %}